* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100%;
}
/* header starts */
.header {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    height: 5vh;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 40px;
    margin-left: auto;
    margin-right: 150px;
    font-size: 18px;
    list-style-type: none; 
}

a {
    text-decoration: none; 
    color: #e5e7eb;
}


.header p {
    font-size: 24px;
    color: #f9faf8;
    margin-left: 150px;
}
/* header ends */
/* section one starts */

.section-one {
    display: flex;
    align-items: center;
    height: 50vh;
    background-color: #1f2937;
    color: #f9faf8;
   /* border: red solid; */
    padding-left: 9.5em;
}

.container-one h1 {
    font-size: 48px;
    font-weight: bolder;
    inline-size: 400px;
    
}

.paragraph-one p {
    font-size: 18px;
    color: #e5e7eb;
}

.button-one {
    padding: 6px 20px;
    margin-top: 10px;
    border-radius: 6px;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    cursor: pointer;
}

.image-one {
    position: relative;
    left: 180px;
    border: white solid;
}

img {
    height: auto;
    width: 450px;
}
/* section one ends */
/* section two starts */

.section-two {
    height: 50vh;
    background-color: #f9faf8;
    justify-content: center;
}

.container-two {
    text-align: center;
    padding-top: 40px;
}

.dogtwo-images {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    gap: 20px;
}

.dogtwo-images img {
    height: auto;
    width: 180px;  
    border: black solid;
    border-radius: 12px; 
}

.dog-text {
    display: flex;
    margin-top: 5px;
    justify-content: center;
    gap: 103px;
    
}

.subtext-one {
    inline-size: 100px;
    text-align: center;
}

.subtext-two {
    inline-size: 100px;
    text-align: center;
}

.subtext-three {
    inline-size: 100px;
    text-align: center;
}

.subtext-four {
    inline-size: 100px;
    text-align: center;
}
/* section two ends */
/* section three starts */

.section-three {
    height: 50vh;
    background-color: #e5e7eb;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: grey;
}

.author {
    position: relative;
    left: 80px;
}
/* section three ends */
/* section four starts */

.section-four {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal {
    display: flex;
    padding: 40px;
    margin: 0;
    margin-left: 180px;
    margin-right: 180px;
    border-radius: 10px;
    color:#f9faf8;
    background-color: #3882f6;
    
}

.modal p {
    margin-left: 50px;
}

.button-two {
    position: relative;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 580px;
    margin-right: 580px;
    left: 300px;
    bottom: 70px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    color:#f9faf8;
    background-color: #3882f6;
    border:#f9faf8 solid;
}